<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <h1 class="logo">Flask App</h1>
    </header>

    <center>
        <div id="home">
            <h1>Logged in, You are welcome</h1>
            <p>This is just for learning sqlite3 using in python application</p>
        </div>
    </center>
</body>
</html>