<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Flask login with sqlite3</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <header>
            <h1 class="logo">Flask App</h1>
        </header>
        <center>
            <div id="form_container">
                <h2>Login Form.</h2>
                <form action="" method="post">
                    <div class="input_group">
                        <input type="text" name="usernmae" placeholder="Username " />
                        <input type="password" name="password" placeholder="Password " />
                    </div>
    
                    <div class="submit_btn">
                        <input type="submit" value="Submit" />
                    </div>
                </form>
            </div>
        </center>
    </body>
</html>
