* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    padding: 20px;
    height: 70px;
    background: rgb(9, 208, 45);
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

#form_container {
    padding: 30px 0;
}

h2 {
    margin-bottom: 20px;
}

#form_container input {
    font-size: 20px;
    border: none;
    outline: none;
    display: block;
    margin-bottom: 20px;
    background: rgba(194, 186, 186, 0.858);
    border-radius: 3px;
    padding: 4px 8px;
}

#form_container input[type=submit] {
    background: yellow;
    color: #000;
    border-radius: 3px;
    padding: 4px 8px;
    cursor: pointer;
}

#home {
    padding: 30px 0;
}

#home h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

#home p {
    font-size: 20px;
    text-align: center;
}